.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: var(--token-T6SYlUu8JfWP);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.pageLayout:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.section___4EdEv {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 16px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.section___4EdEv > * {
  grid-column: 4;
}
.freeBox__kkaws {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.section__a2Htj {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 16px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 16px 0;
}
.section__a2Htj > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__a2Htj > * {
    grid-column: 4;
  }
}
.dateTimeRangePicker:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.start:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__rLaIw {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.freeBox__rLaIw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__rLaIw > :global(.__wab_flex-container) > *,
.freeBox__rLaIw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rLaIw > :global(.__wab_flex-container) > picture > img,
.freeBox__rLaIw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rLaIw {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rLaIw > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rLaIw > :global(.__wab_flex-container) > *,
  .freeBox__rLaIw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rLaIw > :global(.__wab_flex-container) > picture > img,
  .freeBox__rLaIw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.statistic__fPd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__l34Dl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.p___4IQel {
  align-self: center;
  color: var(--token-0jPLPYh6nakP);
}
.img__yjoUr {
  position: relative;
  object-fit: cover;
  max-width: 28px;
  max-height: 28px;
}
.img__yjoUr > picture > img {
  object-fit: cover;
}
.text__k3MEs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__kJxg {
  background: var(--token-ufu0BcnJgtqW);
  border-radius: 12px;
  padding: 4px 8px;
}
.statistic__g8Yzv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__x1Hq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.p___40C5Q {
  align-self: center;
}
.img__cvCt {
  position: relative;
  object-fit: cover;
  max-width: 28px;
  max-height: 28px;
}
.img__cvCt > picture > img {
  object-fit: cover;
}
.text__etkHk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__kdcG7 {
  background: var(--token-ufu0BcnJgtqW);
  border-radius: 12px;
  padding: 4px 8px;
}
.statistic__whJiU:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 163px;
}
.freeBox__oMLq7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.p___2Wz5W {
  align-self: center;
}
.img__ukfUz {
  position: relative;
  object-fit: cover;
  max-width: 28px;
  max-height: 28px;
}
.img__ukfUz > picture > img {
  object-fit: cover;
}
.text__zDtKk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__uIqXc {
  background: var(--token-ufu0BcnJgtqW);
  border-radius: 12px;
  padding: 4px 8px;
}
.statistic___28FiC:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__dd6Ph {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.p__yQxWx {
  align-self: center;
}
.img__oafY {
  position: relative;
  object-fit: cover;
  max-width: 28px;
  max-height: 28px;
}
.img__oafY > picture > img {
  object-fit: cover;
}
.text__z8Eae {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__gYhqn {
  background: var(--token-ufu0BcnJgtqW);
  border-radius: 12px;
  padding: 4px 8px;
}
.section__mRrLk {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 16px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px 0 16px;
}
.section__mRrLk > * {
  grid-column: 4;
}
.chart:global(.__wab_instance) {
  position: relative;
}
.section__jr3F {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 16px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px 0;
}
.section__jr3F > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__jr3F > * {
    grid-column: 4;
  }
}
.freeBox__wnUdq {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__wnUdq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__wnUdq > :global(.__wab_flex-container) > *,
.freeBox__wnUdq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wnUdq > :global(.__wab_flex-container) > picture > img,
.freeBox__wnUdq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wnUdq {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wnUdq > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wnUdq > :global(.__wab_flex-container) > *,
  .freeBox__wnUdq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wnUdq > :global(.__wab_flex-container) > picture > img,
  .freeBox__wnUdq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.card__k4Urt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.h2__oSaIh {
  color: var(--token-0jPLPYh6nakP);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
}
.freeBox__a07Nt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 24px 8px 8px;
}
.freeBox__bhW3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___2GOnU {
  width: auto;
  height: auto;
  max-width: 120px;
  line-height: 18px;
  font-size: 12px;
  text-align: left;
  color: #4d4d4d;
  align-self: center;
}
.freeBox__x36LJ {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 8px 0px;
}
.text__eb5Xd {
  color: var(--token-S1yy25YxyATZ);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
}
.text___0LdPw {
  color: var(--token-S1yy25YxyATZ);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  width: auto;
  height: auto;
  max-width: 120px;
  text-align: left;
  align-self: center;
}
.card__y96X:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.h2__m4LPq {
  color: var(--token-0jPLPYh6nakP);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
  padding-bottom: 0px;
}
.freeBox__fQ9A {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 40px 8px 8px;
}
.freeBox__mvO7X {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__u2Ovl {
  width: auto;
  height: auto;
  max-width: 120px;
  line-height: 18px;
  font-size: 12px;
  text-align: left;
  color: #4d4d4d;
  align-self: center;
}
.freeBox__tRhiz {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background: #ffffff;
  min-width: 0;
  padding: 8px 0px;
}
.text__jmWM {
  color: var(--token-S1yy25YxyATZ);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
}
.text__eVkBp {
  color: var(--token-S1yy25YxyATZ);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  width: auto;
  height: auto;
  max-width: 120px;
  text-align: left;
  align-self: center;
  font-weight: 500;
}
