@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-lC-pzpO7QRd3: 16px;
  --plasmic-token-h-2: var(--token-lC-pzpO7QRd3);
  --token-Ro1eOcOZwVi-: #2a2b37;
  --plasmic-token-neutral-900: var(--token-Ro1eOcOZwVi-);
  --token-0jPLPYh6nakP: #383848;
  --plasmic-token-neutral-800: var(--token-0jPLPYh6nakP);
  --token-S1yy25YxyATZ: #48485c;
  --plasmic-token-neutral-700: var(--token-S1yy25YxyATZ);
  --token-bHPKRczKXvE2: #5c5d76;
  --plasmic-token-neutral-600: var(--token-bHPKRczKXvE2);
  --token-xSHM9ImB8Krq: #656682;
  --plasmic-token-neutral-500: var(--token-xSHM9ImB8Krq);
  --token-zNY7g5bgld3n: #84859b;
  --plasmic-token-neutral-400: var(--token-zNY7g5bgld3n);
  --token-zhABtQ8BNNxn: #9898ab;
  --plasmic-token-neutral-300: var(--token-zhABtQ8BNNxn);
  --token-OKAYcVrzhxkQ: #b8b9c6;
  --plasmic-token-neutral-200: var(--token-OKAYcVrzhxkQ);
  --token-wBXUmNd2I4Nk: #cfd0d8;
  --plasmic-token-neutral-100: var(--token-wBXUmNd2I4Nk);
  --token-T6SYlUu8JfWP: #f0f0f3;
  --plasmic-token-neutral-050: var(--token-T6SYlUu8JfWP);
  --token-g9RDb7__ikqs: 14px;
  --plasmic-token-body-small: var(--token-g9RDb7__ikqs);
  --token-pfk3dFxtpiQ8: 20px;
  --plasmic-token-body-small-2: var(--token-pfk3dFxtpiQ8);
  --token-PU-Y2DKtVBgn: #01471e;
  --plasmic-token-success-text: var(--token-PU-Y2DKtVBgn);
  --token-ufu0BcnJgtqW: #dffbea;
  --plasmic-token-success-bg: var(--token-ufu0BcnJgtqW);
  --token-X9dQPYFEDJKZ: #aff5cb;
  --plasmic-token-success-200: var(--token-X9dQPYFEDJKZ);
  --token-kuwasmpykhSc: #87efb1;
  --plasmic-token-success-300: var(--token-kuwasmpykhSc);
  --token-dwTxvFGJduQ3: #5fea97;
  --plasmic-token-success-400: var(--token-dwTxvFGJduQ3);
  --token-hfDLbC9MjU_D: #37e57d;
  --plasmic-token-success-500: var(--token-hfDLbC9MjU_D);
  --token-sJ_GEP-OS42C: #24bf63;
  --plasmic-token-success-600: var(--token-sJ_GEP-OS42C);
  --token-bcYtj4-edT-O: #159649;
  --plasmic-token-success-700: var(--token-bcYtj4-edT-O);
  --token-__weQrrDC4nA: #096e32;
  --plasmic-token-success-800: var(--token-__weQrrDC4nA);
  --token-1gVy_IugWzT6: #d7faf8;
  --plasmic-token-secondary-100: var(--token-1gVy_IugWzT6);
  --token-F9P-IP4BeStu: #aff5f0;
  --plasmic-token-secondary-200: var(--token-F9P-IP4BeStu);
  --token-0XR_RnAsFpPP: #87efe8;
  --plasmic-token-secondary-300: var(--token-0XR_RnAsFpPP);
  --token-zzpVSPBf2w4C: #5feae1;
  --plasmic-token-secondary-400: var(--token-zzpVSPBf2w4C);
  --token-uhbwFUCYxYpj: #37e5db;
  --plasmic-token-secondary-500: var(--token-uhbwFUCYxYpj);
  --token-qtEbAYBoThoC: #24bfb5;
  --plasmic-token-secondary-600: var(--token-qtEbAYBoThoC);
  --token-YGiqHwoYHNlj: #15968e;
  --plasmic-token-secondary-700: var(--token-YGiqHwoYHNlj);
  --token-PxMNLg60LwOd: #096e67;
  --plasmic-token-secondary-800: var(--token-PxMNLg60LwOd);
  --token-5nxZtJ1k9Cxp: #014743;
  --plasmic-token-secondary-900: var(--token-5nxZtJ1k9Cxp);
  --token-ZaxiZw_1LhdV: #d8d8fa;
  --plasmic-token-primary-100: var(--token-ZaxiZw_1LhdV);
  --token-ftGSl2Luzq8Z: #b0b1f4;
  --plasmic-token-primary-200: var(--token-ftGSl2Luzq8Z);
  --token-flKEP8yqT151: #898bef;
  --plasmic-token-primary-300: var(--token-flKEP8yqT151);
  --token-WiVOM6PiHCSm: #6164e9;
  --plasmic-token-primary-400: var(--token-WiVOM6PiHCSm);
  --token-pNeHHToG2xNn: #3a3de4;
  --plasmic-token-primary-500: var(--token-pNeHHToG2xNn);
  --token-E0nojGGCm0Di: #2225bf;
  --plasmic-token-primary-600: var(--token-E0nojGGCm0Di);
  --token-_8TvR95B4r_D: #141696;
  --plasmic-token-primary-700: var(--token-_8TvR95B4r_D);
  --token-hJB4F36pn2K-: #08096e;
  --plasmic-token-primary-800: var(--token-hJB4F36pn2K-);
  --token-iPT-3O6gtNA8: #010347;
  --plasmic-token-primary-900: var(--token-iPT-3O6gtNA8);
  --token-q49MG1Xjw3oT: #f2f3fd;
  --plasmic-token-primary-050: var(--token-q49MG1Xjw3oT);
  --token-N18vANVpfak5: #faf6d7;
  --plasmic-token-warning-100: var(--token-N18vANVpfak5);
  --token-HbmtKeeXdcoy: #f5eeaf;
  --plasmic-token-warning-200: var(--token-HbmtKeeXdcoy);
  --token-jnfVVJrQEevE: #efe587;
  --plasmic-token-warning-300: var(--token-jnfVVJrQEevE);
  --token-AQUpYkUF82OJ: #eadd5f;
  --plasmic-token-warning-400: var(--token-AQUpYkUF82OJ);
  --token-8Pd4F-Uauysc: #e5d437;
  --plasmic-token-warning-500: var(--token-8Pd4F-Uauysc);
  --token-rCNXzrlnpvXJ: #bfb024;
  --plasmic-token-warning-600: var(--token-rCNXzrlnpvXJ);
  --token-xzrahFeR5xSi: #998c15;
  --plasmic-token-warning-700: var(--token-xzrahFeR5xSi);
  --token-NbwTbRR9xACS: #6e6408;
  --plasmic-token-warning-800: var(--token-NbwTbRR9xACS);
  --token-UgrW-DpDnAxF: #383302;
  --plasmic-token-warning-900: var(--token-UgrW-DpDnAxF);
  --token-6mtFAEjo_dQE: #fad7d7;
  --plasmic-token-danger-100: var(--token-6mtFAEjo_dQE);
  --token-zNx_G00vxreN: #f18787;
  --plasmic-token-danger-300: var(--token-zNx_G00vxreN);
  --token-r4YiH4YVAX2r: #f6afaf;
  --plasmic-token-danger-200: var(--token-r4YiH4YVAX2r);
  --token-RMZzW3y5Ysix: #ed6060;
  --plasmic-token-danger-400: var(--token-RMZzW3y5Ysix);
  --token-LHc5mYvheXec: #e83838;
  --plasmic-token-danger-500: var(--token-LHc5mYvheXec);
  --token-QPqkTO-DOm2x: #c22525;
  --plasmic-token-danger-600: var(--token-QPqkTO-DOm2x);
  --token-KVF-W-0nZmJj: #9c1616;
  --plasmic-token-danger-700: var(--token-KVF-W-0nZmJj);
  --token-sSRdxhS-UcBg: #6b0707;
  --plasmic-token-danger-800: var(--token-sSRdxhS-UcBg);
  --token-ddgrCnnjh_6m: #360202;
  --plasmic-token-danger-900: var(--token-ddgrCnnjh_6m);
  --token-nWNOc125IRhL: #fdfdfd;
  --plasmic-token-neutral-0: var(--token-nWNOc125IRhL);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-HtyBGaeApKHJ_font-family: "Inter", sans-serif;
  --mixin-HtyBGaeApKHJ_font-size: 14px;
  --mixin-HtyBGaeApKHJ_font-weight: 400;
  --mixin-HtyBGaeApKHJ_font-style: normal;
  --mixin-HtyBGaeApKHJ_color: var(--token-zhABtQ8BNNxn);
  --mixin-HtyBGaeApKHJ_text-align: left;
  --mixin-HtyBGaeApKHJ_text-transform: none;
  --mixin-HtyBGaeApKHJ_line-height: 21px;
  --mixin-HtyBGaeApKHJ_letter-spacing: -0.6%;
  --mixin-HtyBGaeApKHJ_white-space: pre-wrap;
  --mixin-HtyBGaeApKHJ_user-select: text;
  --mixin-HtyBGaeApKHJ_text-decoration-line: none;
  --mixin-HtyBGaeApKHJ_text-overflow: clip;
  --mixin-iGV8yKRcQLHV_color: var(--token-Ro1eOcOZwVi-);
  --mixin-iGV8yKRcQLHV_font-weight: 600;
  --mixin-iGV8yKRcQLHV_font-size: 26px;
  --mixin-iGV8yKRcQLHV_line-height: 32px;
  --mixin-iGV8yKRcQLHV_letter-spacing: -1%;
  --mixin-iGV8yKRcQLHV_white-space: pre-wrap;
  --mixin-zLk3JuwhsMpY_color: var(--token-Ro1eOcOZwVi-);
  --mixin-zLk3JuwhsMpY_font-size: 23px;
  --mixin-zLk3JuwhsMpY_font-weight: 700;
  --mixin-zLk3JuwhsMpY_line-height: 28px;
  --mixin-zLk3JuwhsMpY_font-family: "Inter", sans-serif;
  --mixin-zLk3JuwhsMpY_letter-spacing: -1%;
  --mixin-zLk3JuwhsMpY_white-space: pre-wrap;
  --mixin-Qo818Xc7FuNh_color: #0070f3;
  --mixin-Qo818Xc7FuNh_white-space: pre-wrap;
  --mixin-eGNuXE-Lb84C_color: var(--token-Ro1eOcOZwVi-);
  --mixin-eGNuXE-Lb84C_font-size: 20px;
  --mixin-eGNuXE-Lb84C_font-weight: 700;
  --mixin-eGNuXE-Lb84C_line-height: 24px;
  --mixin-eGNuXE-Lb84C_letter-spacing: -1%;
  --mixin-eGNuXE-Lb84C_font-family: "Inter", sans-serif;
  --mixin-eGNuXE-Lb84C_white-space: pre-wrap;
  --mixin-t5vJvcWuTBwM_color: var(--token-Ro1eOcOZwVi-);
  --mixin-t5vJvcWuTBwM_font-size: 18px;
  --mixin-t5vJvcWuTBwM_font-weight: 700;
  --mixin-t5vJvcWuTBwM_line-height: 24px;
  --mixin-t5vJvcWuTBwM_letter-spacing: -1%;
  --mixin-t5vJvcWuTBwM_font-family: "Inter", sans-serif;
  --mixin-t5vJvcWuTBwM_white-space: pre-wrap;
  --mixin-7WxNS0n5Mn7K_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-7WxNS0n5Mn7K_border-bottom-color: #dddddd;
  --mixin-7WxNS0n5Mn7K_border-bottom-style: solid;
  --mixin-7WxNS0n5Mn7K_border-bottom-width: 1px;
  --mixin-7WxNS0n5Mn7K_border-left-color: #dddddd;
  --mixin-7WxNS0n5Mn7K_border-left-style: solid;
  --mixin-7WxNS0n5Mn7K_border-left-width: 1px;
  --mixin-7WxNS0n5Mn7K_border-right-color: #dddddd;
  --mixin-7WxNS0n5Mn7K_border-right-style: solid;
  --mixin-7WxNS0n5Mn7K_border-right-width: 1px;
  --mixin-7WxNS0n5Mn7K_border-top-color: #dddddd;
  --mixin-7WxNS0n5Mn7K_border-top-style: solid;
  --mixin-7WxNS0n5Mn7K_border-top-width: 1px;
  --mixin-7WxNS0n5Mn7K_border-bottom-left-radius: 3px;
  --mixin-7WxNS0n5Mn7K_border-bottom-right-radius: 3px;
  --mixin-7WxNS0n5Mn7K_border-top-left-radius: 3px;
  --mixin-7WxNS0n5Mn7K_border-top-right-radius: 3px;
  --mixin-7WxNS0n5Mn7K_font-family: "Inconsolata";
  --mixin-7WxNS0n5Mn7K_padding-bottom: 1px;
  --mixin-7WxNS0n5Mn7K_padding-left: 4px;
  --mixin-7WxNS0n5Mn7K_padding-right: 4px;
  --mixin-7WxNS0n5Mn7K_padding-top: 1px;
  --mixin-7WxNS0n5Mn7K_white-space: pre-wrap;
  --mixin-mNKlLpCiIn-s_border-left-color: #dddddd;
  --mixin-mNKlLpCiIn-s_border-left-style: solid;
  --mixin-mNKlLpCiIn-s_border-left-width: 3px;
  --mixin-mNKlLpCiIn-s_color: #888888;
  --mixin-mNKlLpCiIn-s_padding-left: 10px;
  --mixin-mNKlLpCiIn-s_white-space: pre-wrap;
  --mixin-DktLelwjyKhw_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-DktLelwjyKhw_border-bottom-color: #dddddd;
  --mixin-DktLelwjyKhw_border-bottom-style: solid;
  --mixin-DktLelwjyKhw_border-bottom-width: 1px;
  --mixin-DktLelwjyKhw_border-left-color: #dddddd;
  --mixin-DktLelwjyKhw_border-left-style: solid;
  --mixin-DktLelwjyKhw_border-left-width: 1px;
  --mixin-DktLelwjyKhw_border-right-color: #dddddd;
  --mixin-DktLelwjyKhw_border-right-style: solid;
  --mixin-DktLelwjyKhw_border-right-width: 1px;
  --mixin-DktLelwjyKhw_border-top-color: #dddddd;
  --mixin-DktLelwjyKhw_border-top-style: solid;
  --mixin-DktLelwjyKhw_border-top-width: 1px;
  --mixin-DktLelwjyKhw_border-bottom-left-radius: 3px;
  --mixin-DktLelwjyKhw_border-bottom-right-radius: 3px;
  --mixin-DktLelwjyKhw_border-top-left-radius: 3px;
  --mixin-DktLelwjyKhw_border-top-right-radius: 3px;
  --mixin-DktLelwjyKhw_font-family: "Inconsolata";
  --mixin-DktLelwjyKhw_padding-bottom: 3px;
  --mixin-DktLelwjyKhw_padding-left: 6px;
  --mixin-DktLelwjyKhw_padding-right: 6px;
  --mixin-DktLelwjyKhw_padding-top: 3px;
  --mixin-DktLelwjyKhw_white-space: pre-wrap;
  --mixin-4tX0nn314iXw_display: flex;
  --mixin-4tX0nn314iXw_flex-direction: column;
  --mixin-4tX0nn314iXw_align-items: stretch;
  --mixin-4tX0nn314iXw_justify-content: flex-start;
  --mixin-4tX0nn314iXw_list-style-position: outside;
  --mixin-4tX0nn314iXw_padding-left: 40px;
  --mixin-4tX0nn314iXw_position: relative;
  --mixin-4tX0nn314iXw_list-style-type: disc;
  --mixin-4tX0nn314iXw_white-space: pre-wrap;
  --mixin-sau28xA8WdL3_display: flex;
  --mixin-sau28xA8WdL3_flex-direction: column;
  --mixin-sau28xA8WdL3_align-items: stretch;
  --mixin-sau28xA8WdL3_justify-content: flex-start;
  --mixin-sau28xA8WdL3_list-style-position: outside;
  --mixin-sau28xA8WdL3_padding-left: 40px;
  --mixin-sau28xA8WdL3_position: relative;
  --mixin-sau28xA8WdL3_list-style-type: decimal;
  --mixin-sau28xA8WdL3_white-space: pre-wrap;
  --mixin-JZgxqubYDvO9_color: var(--token-0jPLPYh6nakP);
  --mixin-JZgxqubYDvO9_font-size: 16px;
  --mixin-JZgxqubYDvO9_font-weight: 600;
  --mixin-JZgxqubYDvO9_line-height: 20px;
  --mixin-JZgxqubYDvO9_letter-spacing: -1%;
  --mixin-JZgxqubYDvO9_font-family: "Inter", sans-serif;
  --mixin-JZgxqubYDvO9_white-space: pre-wrap;
  --mixin-8WoyWEezR759_color: var(--token-Ro1eOcOZwVi-);
  --mixin-8WoyWEezR759_font-size: 14px;
  --mixin-8WoyWEezR759_font-weight: 600;
  --mixin-8WoyWEezR759_line-height: 20px;
  --mixin-8WoyWEezR759_letter-spacing: 1%;
  --mixin-8WoyWEezR759_font-family: "Inter", sans-serif;
  --mixin-8WoyWEezR759_white-space: pre-wrap;
  --mixin-QOe4EUtIigCw_color: #3291ff;
  --mixin-QOe4EUtIigCw_white-space: pre-wrap;
  --mixin-DGm86_Z90qmc_white-space: pre-wrap;
  --mixin-EZW1C-WF8wkS_color: var(--token-S1yy25YxyATZ);
  --mixin-EZW1C-WF8wkS_font-family: "Inter", sans-serif;
  --mixin-EZW1C-WF8wkS_font-weight: 500;
  --mixin-EZW1C-WF8wkS_font-size: 16px;
  --mixin-EZW1C-WF8wkS_line-height: 24px;
  --mixin-EZW1C-WF8wkS_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-A2TngDDinlA0_white-space: pre-wrap;
  --plasmic-mixin-label-m_white-space: var(--mixin-A2TngDDinlA0_white-space);
  --mixin-b7g9eBt-FfiC_white-space: pre-wrap;
  --plasmic-mixin-label-s_white-space: var(--mixin-b7g9eBt-FfiC_white-space);
  --mixin-WJjilbn8zkPh_box-shadow: 0px 12px 12px -6px #00000029,
    0px 0px 1px 0px #00000066;
  --plasmic-mixin-card-shadow_box-shadow: var(--mixin-WJjilbn8zkPh_box-shadow);
  --mixin-WJjilbn8zkPh_white-space: pre-wrap;
  --plasmic-mixin-card-shadow_white-space: var(
    --mixin-WJjilbn8zkPh_white-space
  );
  --mixin--CC7zwZqICzR_white-space: pre-wrap;
  --plasmic-mixin-label-l_white-space: var(--mixin--CC7zwZqICzR_white-space);
  --mixin-YTzjWOKWk5yy_white-space: pre-wrap;
  --plasmic-mixin-l-heading_white-space: var(--mixin-YTzjWOKWk5yy_white-space);
  --mixin-IYH_WbUNcOxP_box-shadow: 0px 0px 4px 0px #0000001a,
    0px 4px 16px 0px #00000033;
  --plasmic-mixin-card-component-shadow_box-shadow: var(
    --mixin-IYH_WbUNcOxP_box-shadow
  );
  --mixin-IYH_WbUNcOxP_white-space: pre-wrap;
  --plasmic-mixin-card-component-shadow_white-space: var(
    --mixin-IYH_WbUNcOxP_white-space
  );
  --mixin-hBEh-KtP7IdH_white-space: pre-wrap;
  --plasmic-mixin-body_white-space: var(--mixin-hBEh-KtP7IdH_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-HtyBGaeApKHJ_font-family);
  font-size: var(--mixin-HtyBGaeApKHJ_font-size);
  font-weight: var(--mixin-HtyBGaeApKHJ_font-weight);
  font-style: var(--mixin-HtyBGaeApKHJ_font-style);
  color: var(--mixin-HtyBGaeApKHJ_color);
  text-align: var(--mixin-HtyBGaeApKHJ_text-align);
  text-transform: var(--mixin-HtyBGaeApKHJ_text-transform);
  line-height: var(--mixin-HtyBGaeApKHJ_line-height);
  letter-spacing: var(--mixin-HtyBGaeApKHJ_letter-spacing);
  white-space: var(--mixin-HtyBGaeApKHJ_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-iGV8yKRcQLHV_color);
  font-weight: var(--mixin-iGV8yKRcQLHV_font-weight);
  font-size: var(--mixin-iGV8yKRcQLHV_font-size);
  line-height: var(--mixin-iGV8yKRcQLHV_line-height);
  letter-spacing: var(--mixin-iGV8yKRcQLHV_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-zLk3JuwhsMpY_color);
  font-size: var(--mixin-zLk3JuwhsMpY_font-size);
  font-weight: var(--mixin-zLk3JuwhsMpY_font-weight);
  line-height: var(--mixin-zLk3JuwhsMpY_line-height);
  font-family: var(--mixin-zLk3JuwhsMpY_font-family);
  letter-spacing: var(--mixin-zLk3JuwhsMpY_letter-spacing);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-Qo818Xc7FuNh_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-eGNuXE-Lb84C_color);
  font-size: var(--mixin-eGNuXE-Lb84C_font-size);
  font-weight: var(--mixin-eGNuXE-Lb84C_font-weight);
  line-height: var(--mixin-eGNuXE-Lb84C_line-height);
  letter-spacing: var(--mixin-eGNuXE-Lb84C_letter-spacing);
  font-family: var(--mixin-eGNuXE-Lb84C_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-t5vJvcWuTBwM_color);
  font-size: var(--mixin-t5vJvcWuTBwM_font-size);
  font-weight: var(--mixin-t5vJvcWuTBwM_font-weight);
  line-height: var(--mixin-t5vJvcWuTBwM_line-height);
  letter-spacing: var(--mixin-t5vJvcWuTBwM_letter-spacing);
  font-family: var(--mixin-t5vJvcWuTBwM_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-7WxNS0n5Mn7K_font-family);
  border-radius: var(--mixin-7WxNS0n5Mn7K_border-top-left-radius)
    var(--mixin-7WxNS0n5Mn7K_border-top-right-radius)
    var(--mixin-7WxNS0n5Mn7K_border-bottom-right-radius)
    var(--mixin-7WxNS0n5Mn7K_border-bottom-left-radius);
  padding: var(--mixin-7WxNS0n5Mn7K_padding-top)
    var(--mixin-7WxNS0n5Mn7K_padding-right)
    var(--mixin-7WxNS0n5Mn7K_padding-bottom)
    var(--mixin-7WxNS0n5Mn7K_padding-left);
  border-top: var(--mixin-7WxNS0n5Mn7K_border-top-width)
    var(--mixin-7WxNS0n5Mn7K_border-top-style)
    var(--mixin-7WxNS0n5Mn7K_border-top-color);
  border-right: var(--mixin-7WxNS0n5Mn7K_border-right-width)
    var(--mixin-7WxNS0n5Mn7K_border-right-style)
    var(--mixin-7WxNS0n5Mn7K_border-right-color);
  border-bottom: var(--mixin-7WxNS0n5Mn7K_border-bottom-width)
    var(--mixin-7WxNS0n5Mn7K_border-bottom-style)
    var(--mixin-7WxNS0n5Mn7K_border-bottom-color);
  border-left: var(--mixin-7WxNS0n5Mn7K_border-left-width)
    var(--mixin-7WxNS0n5Mn7K_border-left-style)
    var(--mixin-7WxNS0n5Mn7K_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-mNKlLpCiIn-s_color);
  padding-left: var(--mixin-mNKlLpCiIn-s_padding-left);
  border-left: var(--mixin-mNKlLpCiIn-s_border-left-width)
    var(--mixin-mNKlLpCiIn-s_border-left-style)
    var(--mixin-mNKlLpCiIn-s_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-DktLelwjyKhw_font-family);
  border-radius: var(--mixin-DktLelwjyKhw_border-top-left-radius)
    var(--mixin-DktLelwjyKhw_border-top-right-radius)
    var(--mixin-DktLelwjyKhw_border-bottom-right-radius)
    var(--mixin-DktLelwjyKhw_border-bottom-left-radius);
  padding: var(--mixin-DktLelwjyKhw_padding-top)
    var(--mixin-DktLelwjyKhw_padding-right)
    var(--mixin-DktLelwjyKhw_padding-bottom)
    var(--mixin-DktLelwjyKhw_padding-left);
  border-top: var(--mixin-DktLelwjyKhw_border-top-width)
    var(--mixin-DktLelwjyKhw_border-top-style)
    var(--mixin-DktLelwjyKhw_border-top-color);
  border-right: var(--mixin-DktLelwjyKhw_border-right-width)
    var(--mixin-DktLelwjyKhw_border-right-style)
    var(--mixin-DktLelwjyKhw_border-right-color);
  border-bottom: var(--mixin-DktLelwjyKhw_border-bottom-width)
    var(--mixin-DktLelwjyKhw_border-bottom-style)
    var(--mixin-DktLelwjyKhw_border-bottom-color);
  border-left: var(--mixin-DktLelwjyKhw_border-left-width)
    var(--mixin-DktLelwjyKhw_border-left-style)
    var(--mixin-DktLelwjyKhw_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-4tX0nn314iXw_display);
  flex-direction: var(--mixin-4tX0nn314iXw_flex-direction);
  align-items: var(--mixin-4tX0nn314iXw_align-items);
  justify-content: var(--mixin-4tX0nn314iXw_justify-content);
  list-style-position: var(--mixin-4tX0nn314iXw_list-style-position);
  padding-left: var(--mixin-4tX0nn314iXw_padding-left);
  position: var(--mixin-4tX0nn314iXw_position);
  list-style-type: var(--mixin-4tX0nn314iXw_list-style-type);
  flex-column-gap: var(--mixin-4tX0nn314iXw_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-sau28xA8WdL3_display);
  flex-direction: var(--mixin-sau28xA8WdL3_flex-direction);
  align-items: var(--mixin-sau28xA8WdL3_align-items);
  justify-content: var(--mixin-sau28xA8WdL3_justify-content);
  list-style-position: var(--mixin-sau28xA8WdL3_list-style-position);
  padding-left: var(--mixin-sau28xA8WdL3_padding-left);
  position: var(--mixin-sau28xA8WdL3_position);
  list-style-type: var(--mixin-sau28xA8WdL3_list-style-type);
  flex-column-gap: var(--mixin-sau28xA8WdL3_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-JZgxqubYDvO9_color);
  font-size: var(--mixin-JZgxqubYDvO9_font-size);
  font-weight: var(--mixin-JZgxqubYDvO9_font-weight);
  line-height: var(--mixin-JZgxqubYDvO9_line-height);
  letter-spacing: var(--mixin-JZgxqubYDvO9_letter-spacing);
  font-family: var(--mixin-JZgxqubYDvO9_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-8WoyWEezR759_color);
  font-size: var(--mixin-8WoyWEezR759_font-size);
  font-weight: var(--mixin-8WoyWEezR759_font-weight);
  line-height: var(--mixin-8WoyWEezR759_line-height);
  letter-spacing: var(--mixin-8WoyWEezR759_letter-spacing);
  font-family: var(--mixin-8WoyWEezR759_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-QOe4EUtIigCw_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
  color: var(--mixin-EZW1C-WF8wkS_color);
  font-family: var(--mixin-EZW1C-WF8wkS_font-family);
  font-weight: var(--mixin-EZW1C-WF8wkS_font-weight);
  font-size: var(--mixin-EZW1C-WF8wkS_font-size);
  line-height: var(--mixin-EZW1C-WF8wkS_line-height);
}
